pkgbase = deploy-docker
	pkgdesc = Builds and deploys a docker image to a registry
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/Traube1000101/deploy-docker
	arch = any
	license = GPL-3.0
	depends = bash
	depends = docker
	depends = util-linux
	source = https://github.com/Traube1000101/deploy-docker/archive/v1.0.tar.gz
	b2sums = 027e95e77aeb7bf33c0016ac0893136417489be72ebecd69c9e7bb75d20003351ec7576ebc9b28df6b60f842b05dbbcc6e3bb0f6e140c5864a5116b006d8493d

pkgname = deploy-docker
